.portfolio-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap:20px;
    padding-top: 80px;
    /* background-color: #3D518C; */
    animation: portfolioLoad 1s ease-in forwards;
    flex-wrap: wrap;
}

@keyframes portfolioLoad {
    0% {transform: translateY(-30px);}
    20% {transform: translateY(0px);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(0px);}
    80% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}