.app-block {
    background-color: rgb(9, 21, 64, 0.7);
    /* SET TO 1 TO REMOVE GLASS EFFECT */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    /* background-color: rgb(9, 21, 64, 0.7); */
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
    border: 3px rgb(0, 0, 0, 0) solid;
    z-index: 1000;
    /* padding: 5px; */
}

.app-block:hover {
    background-color: rgb(9, 21, 64, 0.9);
    border-color: #7692FF;
    border-style: solid;
    transition: 0.3s;
    box-shadow: 0 0px 16px rgb(171, 210, 250, 0.9);
}

.app-block:hover .nav-link {
    color: #ABD2FA;
    transition: 0.3s;
}

.app-block:hover .nav-link.active {
    color: #ff4081;
}

/* .centered-button {
    flex: 1 1 0%;
    height: max-content;
    background-color: #7692FF;
    border: #1B2CC1;
    padding-block: 10px;
    border-width: medium;
    border-style: solid;
}

.centered-button:hover {
    background-color: #5777f7;
} */

.centered-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.nav::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.nav .nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 160px;
    min-width: 150px;
    height: max-content;
    /* background-color: rgb(118, 146, 255, 0.8); */
    /* SET TO 1 TO REMOVE GLASS EFFECT */
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    /* border: black;
    border-width: 1px;
    border-style: solid; */
    /* outline: 3px solid black;
    outline-offset: -2px; */
    padding-block: 15px;
    color: rgb(255, 255, 255, 0.9);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* box-sizing: border-box; */
    gap: 10px;
}

/* .nav .nav-links {
    flex: 1 1 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: hidden;
} */

.nav .nav-link:hover {
    /* transform: scale(1.01); */
    /* background-color: rgb(9, 21, 64, 0.9); */
    color: #FFC914;
    transition: 0.3s;
}

.nav-link.active {
  /* color: #ff4081; or any highlight color you prefer */
  color: rgb(228, 87, 46, 1);
  /* font-weight: bold; */
  /* Add more styles as needed */
}