.single-album {
    padding: 20px;
    padding-top: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.single-album-card {
    background-color: rgb(9, 21, 64, 0.7);
    display: flex;
    flex-direction: row;
    width:100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.single-album-details {
    width: 250px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.single-album-details h1 {
    color: rgb(228, 87, 46, 1);;
}

.single-album-img {
    width: 200px;
    height: 200px;
    border: medium black solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.single-album-trackList {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 30px;
    width: 300px;
}

.single-album-trackList h1 {
    color: #FFC914;
}

.single-album-track {
    font-size:x-large;
    color: white;
}

.single-album-details-description {
    color:white;
    font-size: large;
}

.single-album-track:hover {
    color: #7692FF;
    transition: 0.3s;
}

.single-album-recommendations {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.single-album-recommendations h1{
    color: #76B041;
}

.single-album-recommendations-images {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    flex-wrap: wrap;
    height: 100%;
    gap: 20px;
    font-size: large;
    color: white;
}

.single-album-recommendations-img {
    width: 150px;
    height: 150px;
    border: medium black solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.single-album-recommendations-img:hover {
    border-color: #7692FF;
    transition: 0.3s;
}

.single-album-recommendation-link {
    text-decoration: none;
    color : white;
    text-align: center;
    width: 200px;
}