.EP-Card {
    font-size: 20px;
    padding: 20px;
    background-color: rgb(228, 87, 46, 0.9);
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap:10px;
    border-right: medium black solid;
}

.EP-Name {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.EP-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.EP-img {
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100px;
    height: 100px;
    border: solid;
}