.album-box {
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #091540;
    margin: 10px;
}

.album-row {
    display: flex;
    align-items: center;   
    /* justify-content: center; */
    gap: 20px;                
    padding: 20px;
    /* width: 100%; */
}

.album-row-wrapper {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.album-row-wrapper::-webkit-scrollbar {
    display: none;
}