.fpp-card {
    padding: 20px;
    background-color: rgb(9, 21, 64, 0.7);
    border: medium black solid;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    animation: fppCardLoad 1.5s ease-in forwards;
    flex-wrap: wrap;
    overflow-x: auto;
}

@keyframes fppCardLoad {
    0% {transform: translateY(-30px);}
    20% {transform: translateY(0px);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(0px);}
    80% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

.fpp-card p {
    font-size: large;
}

.fpp-card:hover {
    background-color: rgb(9, 21, 64, 0.9);
    border-color: #7692FF;
    border-style: solid;
    transition: 0.3s;
    color: #ABD2FA;
    box-shadow: 0 0px 16px rgb(171, 210, 250, 0.9);
}

.fpp-card h1 {
    color:#FFC914
}

.fpp-card-heading {
    display: flex;
    flex-direction: row;
}

.fpp-card-image-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    animation: fppImageRowLoad 0.3s ease-in both;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    align-items: flex-start;
}
.fpp-card-image-row::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

@keyframes fppImageRowLoad {
    0% {transform: translateX(2000px);}
    100% {transform: translateX(0px);}
}

.fpp-card-image {
    width: 175px;
    height: 175px;
    margin:20px;
    border: medium black solid;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.fpp-card:hover .fpp-card-image{
    transition: 0.3s;
    border-color: #ABD2FA;
    border-style: solid;
}

.fpp-card-image-text {
    text-align: center;
}

.fpp-card-info {
    margin:20px;
}

.fpp-card-link {
    display: inline-flex;
    background-color: rgb(118, 146, 255, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: black;
    border-width: 1px;
    border-style: solid;
    padding-block: 10px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    margin-left: 20px;
}

.fpp-card:hover .fpp-card-link {
    background-color: rgb(118, 146, 255, 0.9);
    color:#091540;
    border-color:#ABD2FA;
    transition: 0.3s;
}

.fpp-card-album-link {
    text-decoration: None;
}

.fpp-card-album-names {
    font-size: large;
}

.fpp-card-album-names:hover {
    color: white;
    transition: 0.2s;
}
